
/* All-Front-Family */
$them-font: 'Poppins',
sans-serif;
$style-font: 'Great Vibes',
cursive;
$nav-font: 'Montserrat',
sans-serif;

/* All-defult-color */
$them-color: #7fba00;
$hover-color: #46D145;

$nav-bg: #181e0b;
$white-color: #fff;
$black-color: #222;


/* margin-padding */
$defult-py: 100px 0px;


/* All-grid-Responsiv-breck-point */
$large_device: 'only screen and (min-width: 1200px) and (max-width: 1600px)';
$medium_device: 'only screen and (min-width: 992px) and (max-width: 1199px)';
$tab_device: 'only screen and (min-width: 768px) and (max-width: 991px)';
$small_mobile: 'only screen and (max-width: 767px)';
$large_mobile: 'only screen and (min-width: 480px) and (max-width: 767px)';

/* large-device 1200px-1600px */
/* mdium_device 992px-1199px */
/* tab_device 768px-991px */
/* small_mobile max-767px */
/* large_mobile 480px-767px */